# Regular things that should be excluded
.env
deps/

# Ignore logs created by Discordia
*.log
*.json
# Ignore optional libraries (Notably opus.dll and sodium.dll for voice)
*.dll
# Ignore optional executables (Notably ffmpeg.exe for voice)
*.exe