# Exclude our .env file because it contains personal and possibly sensitive data
.env
# Exlude the deps folder as that should be generated when compiling on Heroku
deps/
# Exclude any Visual Studio Code settings that may have been saved
.vscode/

# Ignore logs created by Discordia
discordia.log
gateway.json
# Ignore optional libraries (Notably opus.dll and sodium.dll for voice)
*.dll
# Ignore optional executables (Notably ffmpeg.exe for voice)
*.exe
# Ignore any batch files used for debugging
*.bat